streamlit==1.24.0
pandas==2.0.3
plotly==5.15.0
pymysql==1.1.0
streamlit-tags==1.2.8
Pillow==9.5.0
nltk==3.8.1
spacy==3.5.3
pdfminer.six==20221105
pyresparser==1.0.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
